ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header .page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.menu {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus,
.nav-link:hover,
.nav-link:focus,
.menu-link.current {
  color: #404bbf;
} 

.logo-style {
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  display: block;
  margin: 48px auto 0;
  cursor: pointer;
  font-size: 16px;
  background: #4d5ae5;
  height: 56px;
  border-radius: 4px;
  color: white;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin:0 auto;
}

.order-button {
 min-width: 169px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}



h1 {
  color: white;
}

.hero {
  max-width: 1440px;
  height: 600px;
  background-color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 188px 0;
  margin: 0 auto;
  background-image: url(../images/hero.jpg);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.effective-solutions {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
}

.page-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  background: #2e2f42;
  color: white;
  padding: 100px 0;
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  color: #f4f4fd;
}

.logo-foot {
  display: inline-block;
  color: #4d5ae5;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  
  
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfilio-item:hover .overlay {
  transform: translateY(0%);
}

.address-page {
  font-style: normal;
  margin-left: auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefits-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 120px 0;
}

.team {
  background-color: #f4f4fd;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 120px 0;
}

.portfolio {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 120px 0 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-mem {
  background-color: #ffffff;
  calc ((100% - 72px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list {
  display: flex;
  gap: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-desc {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-works {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.port-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfilio-item {
  margin-bottom: 8px;
  width: calc((100% - 48px) / 3);
  position: relative;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-link.current {
  position: relative;
}

.menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
  gap: 40px;
}

.page-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.benefits-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-li {
  width: calc((100% - 24px * 3) / 4);
  
}

.benefits-ul {
  display: flex;
  gap: 24px;
}

.item-team-name {
  padding: 32px 0;
  
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
}

.portfolio-name-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

img {
  display: block;
}

.socialmedia-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-list {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.social-list-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-nav:hover,
.social-list-nav:focus {
  background-color: #404bbf;
}

.social-icons {
  display: block;
  fill: #f4f4fd;
}

.icons-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;  
}

.footer-container{
  display: flex;
  align-items: baseline;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.social-list-link {
  width: 40px;
  height: 40px;
}

.footer-list-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-nav:hover,
.footer-list-nav:focus{
  background-color: #31d0aa;
}

.social-icons-footer {
  fill: #f4f4fd;
}

.footer-email-form {
  display: flex;
  width: 264px;
  height: 40px;
  gap: 24px;
  border: 1px solid #fff;
  border-radius: 4px;
}  

.footer-form-input {
  color: #fff;
  width: 264px;
  height: 40px;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 4px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent; 
}

.footer-form-input::placeholder {
  color: #fff;
}

.footer-sub-btn {
  height: 40px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}